*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/*attribuisco un font al sito*/
*{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
  text-decoration: none;
}

/*CODICE DELLA BARRA FIXED*/
.top_header{
  width:100vw;
  padding: 30px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
  top: 0;
  z-index: 1;
}

.container{
  width: 60vw;
}

/*do il display inline block agli elementi del menu fixed*/
.link_lang, .login ul li{
  display: inline-block;
}

/*assegno un float per distanziare gli elementi del menu*/
.login{
  float: right;
}

.link_lang a, .item_menu .fa-sort-down{
  text-decoration: none;
  color: #33475B;
  font-weight: bold;
  font-size: 14px;
  margin: 0 10px 0 10px;
}

.item_menu{
  margin-right: 10px;
  border-right: 2px solid #cbd6e2;
}

.login ul li:not(:last-child){
  margin-right: 15px;
}

.login ul li #log_style{
  padding: 10px 10px 10px 10px;
  color: #ff7a59;
  border-radius: 4px;
}

.hubspot_free {
  background-color: #ff7a59;
  padding: 12px 12px 12px 12px;
  color: white;
  border-radius: 4px;
}

.login_button a{
  background-color: white;
  border: 2px solid #ff7a59;
}

.top_header::after{
  display: table;
  content: '';
  clear: both;
}

/* CODICE RELATIVO AL MENU DI NAVIGAZIONE E LOGO*/
.menu_nav{
  width:60vw;
  margin-top: 100px;
  background-color: white;
  margin-bottom: 20px;
}

.logo{
  width: 100px;
  float: left;
}

.menu_nav nav ul li{
  display: inline-block;
  float: right;
  padding: 10px;
}

.item_nav a{
  text-decoration: none;
  color: #33475B;
  font-weight: bold;
  font-size: 14px;
}

.dropdown a{
  margin-right: 10px;
}

.logo, .menu_nav{
  clear: both;
  display: table;
  content: '';
}

/*SLIDER*/
.slider{
  background-image: linear-gradient(to bottom right, #00A0BA, #02BDA6);
  width: 100vw;
  height: 500px;
}

.slider_content{
  width: 45%;
  float: left;
  color: white;
  margin-top: 80PX;
  /* transform: translateY(-50%); */
}

.slider_content h1,
.slider_content p,
.slider_content a{
margin-bottom:10px;
}

.slider_content h1{
  font-size: 50px;
}

.slider_content p{
  letter-spacing: 1px;
}

.slider_content a{
  color: #33475B;
  font-weight: bold;
  background-color: white;
  padding: 15px;
  text-align: center;
  width: 50%;
  display: block;
  float: left;
}

.notice{
  font-size: 9px;
  color: #ddd;
  letter-spacing: 0;
  text-align: left;
  display: inline-block;
}

.slider_content a::after{
  clear: both;
  content: '';
  display: table;
}

/* CODICE MAIN */

main{
  background-color: #F5F8FA;
}

.container_cube{
  padding: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.container_cube img{
  width:260px;
  display: block;
  padding: 20px;
}

.container_cube h2, .container_cube p{
  padding: 15px;
  color: #33475B;
  margin: 0 140px 0 140px;
}

/*CODICE DELLE COLONNE CENTRALI*/
/*sezione relativa a blocchi interni powerblock*/
.power_block{
  background-color: white;
  box-shadow: 0px 0px 5px 5px #eaf0f6;
  padding: 20px;
  transition: transform .2s; /* Animation */
}

/*definisco dimensione blocco immagine*/
.img_power{
  width: 40%;
  float: left;
  text-align: center;
}

.img_power img{
  display: block;
}

.fa-check-circle{
  color: orange;
  margin-right: 10px;
}

.list_power h4,
.list_power p,
.list_power a{
  padding: 20px;
  text-align: left;
  position: relative;
}

.list_power span:after{
  width: 100%;
  position: absolute;
  top: 0;
  height: 2px;
  background-color: black
}

.list_power2 h4,
.list_power2 p,
.list_power2 a{
  padding: 20px;
  text-align: center;
}

.list_power2 p{
  border-bottom: 1px solid black;
}

.list_power ul li, .list_power2 ul li{
  list-style-type: none;
  margin-bottom: 10px;
}

.list_power ul li{
  display: inline-block;
  margin-right: 10px;
}

.power_block:hover{
  box-shadow: 0px 0px 15px 10px #eaf0f6;
  transform: scale(1.1); /* Animation */
}

.power_block::after{
  display: table;
  content: '';
  clear: both;
}

.container::after{
  display: table;
  content: '';
  clear: both;
}


.item_power2{
  width: calc((100% / 3) - (80px / 3));
  float: left;
  margin-top: 20px;
}

.item_power2::after{
  display: table;
  content:'';
  clear: both;
}

.item_power2 img{
  display: block;
}

.item_center{
  margin: 20px 40px 0 40px ;
}

.list_power2 a{
  display: block;
  width: 50%;
  text-align: center;
}


/*CODICE DELLA GRIGLIA*/
.griglia{
  background-image: linear-gradient(to bottom right, #00A0BA, #F2547D);
  padding:50px;
  margin: 80px 0 80px 0;

}

.elemento_griglia{
  float:left;
  display: inline-block;
  width: calc(100% /4);
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 50px;
}

.elemento_griglia::after{
  display: table;
  content: '';
  clear: left;
}

.elemento_griglia span,
.elemento_griglia h2,
.elemento_griglia p
{
  display: block;
  text-align: center;
}

/*nasconde il bordo della griglia inferiore e  il bordo destro del 4 elemento*/
.elemento_griglia:nth-child(n + 5) {
    border-bottom: 0;
}

.elemento_griglia:nth-child(4n){
  border-right: 0;
}

/*CODICE PREFOOTER*/
.prefooter_col_1{
  width:30%;
  float: left;
}

.prefooter_col_2{
  width:70%;
  float: left;
  padding-bottom: 100px;
}

.prefooter_col_2 img{
  float: left;
  display:block;
  width: calc((100% /4)-20px);
  margin: 20px;
}

.prefooter_col_1::after{
  display: table;
  clear: both;
  content: '';
}

.prefooter_col_2::after{
  display: table;
  clear: both;
  content: '';
}

/* MODIFICA STAT GROWING*/
#color_growing{
  color: black;
}
#color_growing a{
  background-color: #ff7a59;
  padding: 12px 12px 12px 12px;
  color: white;
  border-radius: 4px;
}

.image_container{
  width: 50%;
  float: right;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}

.image_container::after{
  display: table;
  clear: both;
  content: '';
}

.image_container img{
  background-color: pink;
}

.prefooter{
  padding-bottom: 100px;
}

/*INIZIO CODICE FOOTER*/
footer{
  background-color: #33475B;
}

.footer_widget{
  width: calc((100%/4)-20px);
  padding:100px 20px 20px 20px;
  float: left;
}

.footer_widget::after{
  display: table;
  content: '';
  clear: both;
}

.footer_widget h2{
  color: white;
}

.footer_widget ul li{
  list-style-type: none;
  padding-top: 10px;
}

.footer_widget ul li a{
  color: white;
}

.support_button{
  display: block;
  margin: 10px 0 10px 0;
  background-color: white;
  text-align: center;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.social_icon li{
  display: inline-block;
  margin-right: 10px;
  color: #CBD6E2;
}

.social_icon a:hover{
  color:#0091ae;
}

/* STILE BARRA DELLA LINGUA*/

.footer_lang ul li{
  display: inline-block;
  margin-right: 20px;
}

.footer_lang ul li a{
  color: white;
  font-weight: bold;
}

.footer_lang{
  padding: 100px 0 100px 0;
  text-align: center;
  border-bottom: 1px solid #CBD6E2;
}

/*BOTTOM FOOTER*/

.logo_footer, .privacy{
  width: 50%;
}

.logo_footer{
  float: left;
  color: #CBD6E2;
}

.logo_footer img{
  width: 150px;
}

.footer_bottom{
  padding:50px 0 70px 0;
}

.privacy ul li{
  display: inline-block;
  margin-right: 10px;
  float:right;
}

.privacy ul li a{
  color: white;
  font-weight: bold;
}

.privacy{
  float: right;
}

.privacy::after,
.logo_footer{
  clear: both;
  content:'';
  display: table;
}
